.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.carousel-prev {
    background-color: #86c7ef;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 10px;
}

.carousel-next {
    background-color: #86c7ef;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    right: 10px;
}

.carousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.carousel-pagination button {
    display: inline-block;
    height: 15px;
    background-color: #000;
    opacity: 0.8;
    border-radius: 10px;
    margin: 0 2px;
    border-style: none;
}

.carousel-pagination button.active {
    background-color: #fff;
}

